{
  "apiurl": "api-{{ infratag }}.cw-wisper.com",
  "popurl": "pop-{{ infratag }}.cw-wisper.com",
  "cloudflare_zone": "cw-wisper.com",
  "telegrambinpath": "/usr/bin/sendTelegramMsg.sh",
  "prepareserver": {
    "hostname": "{{ hostname }}",
    "adminuser": "ubuntu",
    "replaceexistingkey": "yes",
    "zabbix_download_url": "https://repo.zabbix.com/zabbix/6.4/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.4-1+ubuntu22.04_all.deb",
    "zabbix_server": "141.94.181.64/32, 193.252.43.113/32",
    "wazuh_download_url": "https://packages.wazuh.com/4.x/apt/pool/main/w/wazuh-agent/wazuh-agent_4.8.0-1_amd64.deb",
    "wazuh_manager": "141.94.181.64",
    "wazuh_agent_group": "W360-V2",
    "wazuh_agent_name": "{{ hostname }}"
  },
  "webfram": {
    "url": "rdm-{{ infratag }}.cw-wisper.com",
    "binpath": "/home/webfram/web_fram-{{ webfram_version }}",
    "secretkey": "neo",
    "sysuser": "webfram",
    "sysgroup": "webfram",
    "syshome": "/home/webfram"
  },
  "sdwan": {
    "version": "main",
    "uuid": "srv-{{ infratag }}-huuid",
    "url": "r2r3-{{ infratag }}.cw-wisper.com",
    "binpath": "/root/sdwan/R1R2Server-{{ sdwan_version }}",
    "startpath": "/root/sdwan/start.sh",
    "jwturl": "https://api-<tgSite>.cw-wisper.com",
    "jwttoken": "NICOLAS",
    "configDirR1R2": "/etc",
    "startAs": "startClt",
    "r1r2Config": {
      "WGDevice": "wg2",
      "WGDeviceListenPort": 443,
      "WGAddrAliasMask": "16",
      "R2ListenHttpPort": 8090,
      "CTRLListenPort": 446,
      "IP6PREFIX": "fcf0",
      "IP6PREFIXCOM": "ffff",
      "IP6FORCEPREFIX": "ffff",
      "PeerName": "Peer-{{ hostname }}",
      "PeerDesc": "Server is charge for {{ hostname }} {{ infratag }} infra",
      "PeerType": "PoS",
      "WatchdogTick": 60000000000,
      "ForceNatE": "{{ server_ip }}:443",
      "NoOVSInteraction": false
    }
  },
  "prometheus": {
      "prombinary": "/usr/bin/prometheus",
      "configpath": "/home/prometheus/prometheus.yml",
      "rulespath": "/home/prometheus/rules.yml",
      "sysuser": "prometheus",
      "sysgroup": "prometheus",
      "syshome": "/home/prometheus"
    },

  "byodapi": {
    "gitversion": "{{ api_version }}",
    "apiversion": "{{ api_version }}",
    "sysuser": "byodauth",
    "sysgroup": "byodauth",
    "syshome": "/home/byodauth",
    "apipath": "/home/byodauth/api_{{ api_version }}",
    "consolezippath": "/home/byodauth/static",
    "ca_cert_path": "/home/byodauth/api_{{ api_version }}/c4_ca.pem",
    "mongodb_url": "{{ mongodb_url }}",
    "mongodb_database": "{{ mongodb_database }}",
    "prom2mongo_url": "https://licence-master.cw-wisper.com/{{ infratag }}",
    "api_port": 3205,
    "jwt_secret": "wisper_jwt.{{ infratag }}",
    "session_secret": "salagedelasession{{ infratag }}.io",
    "session_name": "c4_infra_{{ infratag }}",
    "loki_url": "loki-1.cw-wisper.com/loki/api/v1/push",
    "loki_infra": "w360-w2",
    "fca0": "fca0:ffff:a96:c686:e796:8416:7fc5:43c1",
    "fca1": "fca1:ffff:3588:627d:ffd1:a87f:d1e7:5b0a",
    "fca0_name": "POP USA",
    "fca1_name": "POP EUROPE"
  },
  "console": {
    "gitversion": "{{ console_version }}",
    "webstaticpath": "/var/www/static_console_{{ console_version }}",
    "build_dir": "/home/webconsole/static_console_{{ console_version }}/build",
    "webstaticowner": "www-data",
    "webstaticgroup": "www-data",
    "front_url":"console-{{ infratag }}.cw-wisper.com",
    "newfront_url":"manager-{{ infratag }}.cw-wisper.com",
    "npmAuthToken": "{{ npm_token }}",
    "localization": "{{ server_localization }}",
    "localizationpath": "/var/www/consoleLocalization/srvLocalization"
  },
  "desync": {
    "s3_access_key_read": "{{ s3_access_key_read }}",
    "s3_secret_key_read": "{{ s3_secret_key_read }}",
    "s3_access_key_write": "{{ s3_access_key_write }}",
    "s3_secret_key_write": "{{ s3_secret_key_write }}",
    "s3_store": "s3+https://s3-eu-west-3.amazonaws.com/{{ desync_bucket }}",
    "logfolder": "/desync_store/logs",
    "binpath": "/desync_store/desync-{{ desync_version }}",
    "storefolder": "/desync_store/{{ desync_bucket }}",
    "portid": {{ desync_portid }},
    "chunkurl": "chunk-{{ desync_tag }}.cw-wisper.com",
    "indexesurl": "indexes-{{ desync_tag }}.cw-wisper.com",
    "scriptpath": "/desync_store",
    "sysuser": "desync",
    "sysgroup": "desync",
    "syshome": "/desync_store"
  }  
}
